/* https://css-tricks.com/snippets/css/complete-guide-grid/ */

.grid-menus-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-gap: 10px;
}

.grid-item-menus {
  grid-row-start: auto;
  grid-row-end: auto;

  grid-column-start: auto;
  grid-column-end: auto;
}

.grid > div {
  background: #ede7f6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.menu-image {
  width: 100%;
}

body {
  margin: 2rem;
  font: 12px system-ui;
}

.bad-font-style-bag {
  font-family: "Kaushan Script", sans-serif;
  font-weight: normal;
  font-size: 80px;
  line-height: 1;
  transform: scale(2);
  justify-content: center;

  margin: -400px 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
